.i-wrap {
    padding-bottom: 40px
}

.i-wrap .i-section-title {
    margin: 0 auto;
    font-size: 30px;
    padding: 20px 0;
    line-height: 1.5em
}

.i-wrap .i-content article {
    margin: 1em
}

.i-wrap .i-content article h3 {
    font-size: 24px;
    color: #4f4f4f
}

.i-wrap .i-content article p {
    color: #ccc
}

.i-main-title {
    text-align: center;
    line-height: 1.5em
}

.i-main-title .text span {
    font-family: Segoe UI Light, Microsoft YaHei, Arial, Helvetica, sans-serif;
    margin-right: 10px
}

.i-main-title .sub-title {
    display: block;
    font-size: 16px;
    color: #919191
}

.i-title {
    margin-bottom: 50px
}

.i-title .text {
    background-color: #4bbbfa;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400
}

.i-content,
.i-section-title {
    width: 980px;
    margin: 0 auto
}

.i-more {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
    box-shadow: 6px 6px 0 #fff;
    width: 200px;
    cursor: pointer
}

.i-more,
.i-more a {
    font-size: 14px;
    text-decoration: none
}

.i-more a {
    background-color: #e1e1e1;
    color: #616161;
    font-weight: 400
}

.i-more:hover {
    text-decoration: none;
    color: #fff
}

.i-foot-bottom {
    background-color: #212121
}

.foot-desc-wrap {
    width: 60%;
    float: left;
    padding-right: 30px
}

.foot-desc-wrap .info-list {
    float: right;
    margin-right: 40px
}

.foot-info-wrap {
    float: left;
    border-left: 4px solid #0c111d;
    padding-left: 30px;
    height: 80px
}

.info-list {
    font-size: 16px;
    text-align: left
}

.contact-list,
.info-list {
    padding: 0;
    list-style: none
}

.clear:after {
    content: "";
    clear: both;
    display: block
}

@media (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .nav-item a.hot,
    .nav-item a.hot:hover {
        background-image: -webkit-linear-gradient(left, #cddc39, #ff9800 25%, #cddc39 50%, #ff9800 75%, #cddc39)!important;
        -webkit-text-fill-color: transparent!important;
        -webkit-background-clip: text!important;
        -webkit-background-size: 200% 100%!important;
        -webkit-animation: masked-animation 2s infinite linear!important
    }
    .nav-item a.hot:hover {
        -webkit-animation: masked-animation 1s infinite linear!important
    }
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: 0 0
    }
    to {
        background-position: -100% 0
    }
}

.nav-item a.hot:before {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    left: -2px;
    width: 13px;
    height: 15px;
    background: url(http://cdn.alloyteam.com/assets/img/hot-32d141.png) 50% no-repeat;
    background-size: 100% 100%
}

.carousel {
    margin-bottom: 40px
}

.carousel .carousel-indicators {
    margin-bottom: 0
}

.carousel .carousel-indicators li {
    width: 50px;
    padding: 5px 0;
    margin: 0 2px;
    opacity: .5;
    border: 0;
    background-color: inherit;
    height: auto
}

.carousel .carousel-indicators li:after {
    content: "";
    display: block;
    height: 4px;
    background-color: #fff;
    border-radius: 4px
}

.carousel .carousel-indicators li.active {
    opacity: 1
}

.carousel .carousel-indicators li:hover {
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1)
}

.carousel.show .item.active .hire-name,
.carousel.show .item.active .hire-title,
.carousel.show .item.active .tfc-top {
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    opacity: 1!important;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0)
}

.carousel.show .item.active .tfc-bottom,
.carousel.show .item.active .title-desc,
.carousel.show .item.active .title-name {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,"PingFang SC","Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Microsoft Sans Serif","WenQuanYi Micro Hei",sans;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    opacity: 1!important;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0)
}

.carousel .item {
    height: 500px;
    background: #175aa0 50%;
    background-size: cover
}

.carousel .item.item-tfc {
    background-image: url(http://cdn.alloyteam.com/assets/img/banner_00-1af7a9.jpg)
}

.carousel .item.item-tfc .item-info {
    padding-top: 100px;
    font-family: Segoe UI Light, Segoe UI, Microsoft Jhenghei;
    text-shadow: 0 0 4px #000
}

.carousel .item.item-tfc .tfc-top {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%)
}

.carousel .item.item-tfc .tfc-bottom {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%)
}

.carousel .item.item-tfc .tfc {
    background: url(http://cdn.alloyteam.com/assets/img/tfc2017-4bb110.png) no-repeat;
    background-size: cover;
    width: 400px;
    height: 100px;
    margin: 0 auto
}

.carousel .item.item-tfc .name {
    background: url(http://cdn.alloyteam.com/assets/img/tfc_title-44cecf.png) no-repeat;
    background-size: cover;
    width: 1200px;
    height: 100px;
    margin: 0 auto 10px
}

.carousel .item.item-tfc .name-en {
    margin: 0 auto;
    font-size: 28px;
    letter-spacing: 5px
}

.carousel .item.item-tfc .address {
    font-size: 24px;
    padding-top: 20px
}

.carousel .item.item-ac2017 {
    background-image: url(http://cdn.alloyteam.com/assets/img/banner_ac2017-47729f.jpg)
}

.carousel .item.item-0 {
    background-image: url(http://cdn.alloyteam.com/assets/img/banner_0-c9e792.jpg)
}

.carousel .item.item-0 .item-info .title-name {
    font-size: 60px;
    letter-spacing: 7px
}

.carousel .item.item-0 .item-info .title-desc {
    font-size: 34px
}

.carousel .item.item-0 .item-info #weeklyNum {
    display: none
}

.carousel .item.item-0 .item-info .weekly-num {
    color: #f2b535;
    padding: 0 5px
}

.carousel .item.item-1 {
    background-image: url(http://cdn.alloyteam.com/assets/img/banner_1-ec70a4.jpg)
}

.carousel .item.item-2 {
    background-image: url(http://cdn.alloyteam.com/assets/img/banner_2-37b0e7.jpg)
}

.carousel .item a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none
}

.carousel .item .hire-info {
    position: relative;
    height: 100%;
    font-family: STXihei, \\534E\6587\7EC6\9ED1, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in
}

.carousel .item .hire-name {
    position: absolute;
    bottom: 160px;
    font-size: 40px;
    color: hsla(0, 0%, 100%, .9);
    right: 60px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 60px;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%)
}

.carousel .item .hire-title {
    position: absolute;
    bottom: 50px;
    font-size: 50px;
    color: hsla(0, 0%, 100%, .8);
    left: 50px;
    letter-spacing: 10px;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%)
}

.carousel .item .item-info {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 180px;
    overflow: hidden;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in
}

.carousel .item .item-info .title-name {
    font-size: 70px;
    padding-bottom: 20px;
    opacity: 0;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%)
}

.carousel .item .item-info .title-desc {
    font-size: 40px;
    letter-spacing: 5px;
    opacity: 0;
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%)
}

.i-blog {
    background-color: #fff
}

.i-blog ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.i-blog .i-section-title {
    color: #fff
}

.i-blog .i-panel {
    border: 1px solid #e4ecf3;
    background-color: #fff;
    border-radius: 4px;
    min-height: 325px;
    margin-bottom: 10px
}

.i-blog .i-panel .blog-category {
    position: relative;
    z-index: 1;
    height: 70px;
    padding: 10px;
    padding-left: 80px;
    margin: 10px 0
}

.i-blog .i-panel .blog-category h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #333
}

.i-blog .i-panel .blog-category h2:hover {
    color: #f2b535
}

.i-blog .i-panel .blog-category .category-icon {
    height: 60px;
    font-size: 32px;
    color: #d3d3d3;
    text-align: right;
    background-color: #fff;
    width: 60px;
    overflow: hidden;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 0
}

.i-blog .i-panel .blog-category .category-icon img {
    width: 100%
}

.i-blog .i-panel .blog-category .color1 {
    color: red
}

.i-blog .i-panel .blog-category .color2 {
    color: blue
}

.i-blog .i-panel .blog-category .color3 {
    color: #20bf5a
}

.i-blog .i-panel .blog-category .color4 {
    color: #cb0000
}

.i-blog .i-panel .blog-category .color5 {
    color: #069
}

.i-blog .i-panel .blog-category .color6 {
    color: #d3d3d3
}

.i-blog .i-panel .blog-category .category-name .desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #c1c1c1
}

.i-blog .i-panel a:hover {
    color: #f2b535;
    text-decoration: none
}

.i-blog .i-type-list {
    float: left;
    width: 50%
}

.i-blog .i-image-news {
    float: left;
    width: 35%;
    margin-top: 10px;
    padding: 0 10px;
    box-sizing: border-box
}

.i-blog .i-image-news li {
    position: relative;
    z-index: 1;
    margin-bottom: 10px
}

.i-blog .i-image-news li .i-head {
    height: 110px;
    overflow: hidden
}

.i-blog .i-image-news li .i-head img {
    width: 100%
}

.i-blog .i-image-news li .i-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0
}

.i-blog .i-image-news li .i-text h3 {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 10px
}

.i-blog .i-text-news {
    margin-left: 15px;
    margin-top: 15px
}

.i-blog .i-text-news li {
    position: relative;
    z-index: 1;
    margin-bottom: 35px
}

.i-blog .i-text-news li h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #616161;
    padding-right: 80px
}

.i-blog .i-text-news li h4:hover {
    color: #f2b535
}

.i-blog .i-text-news li .i-author {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    position: absolute;
    right: 10px;
    top: 0;
    color: #616161
}

.i-blog .i-head img {
    width: 100%
}

.i-blog .i-p-title {
    font-size: 16px;
    color: #616161;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0;
    margin: 0 10px;
    position: relative;
    z-index: 1
}

.i-blog .i-p-title .i-icon-more {
    position: absolute;
    right: 0;
    top: 15px
}

.i-blog .i-p-title .i-icon-more:after {
    font-size: 16px;
    font-family: arial, sans-serif;
    font-weight: 800;
    content: "..."
}

.i-blog .i-content article h3 {
    color: #00ace9
}

.i-project {
    background-color: #fff
}

.i-project a {
    text-decoration: none
}

.i-project .i-art-wrap {
    position: relative;
    padding: 20px 10px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 10px;
    transition: all .3s ease;
    overflow: hidden
}

.i-project .i-art-wrap:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5)
}

.i-project .i-art-wrap:hover .light {
    transition: all .3s ease;
    left: 100%
}

.i-project .i-art-wrap p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.i-project .i-art-wrap .i-ad-img {
    height: 60px;
    overflow: hidden;
    display: inline-block
}

.i-project .i-art-wrap .i-ad-img img {
    height: 100%
}

.i-project .i-art-wrap .light {
    cursor: pointer;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(0deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, 0));
    transform: skewx(-25deg);
    -o-transform: skewx(-25deg);
    -moz-transform: skewx(-25deg);
    -webkit-transform: skewx(-25deg)
}

.i-project .art1 {
    background-color: #70c3ff !important
}

.i-project .art2 {
    background-color: #fd6a7f !important
}

.i-project .art3 {
    background-color: #7f8ea0!important
}

.i-project .art4 {
    background-color: #89d04f !important
}

.i-starrank {
    background-color: #fff
}

.i-starrank .i-section-title {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 24px
}

.i-starrank .i-star-a {
    text-decoration: none;
    cursor: pointer;
}

.i-starrank .i-star-wrap {
    background-color: #f5f8fa;
    border: 1px solid #e4ecf3;
    border-radius: 4px;
    text-align: center;
    transition: all .3s ease;
    margin-bottom: 20px;
}

.i-starrank .i-star-wrap:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .3)
}

.i-starrank .i-star-wrap .i-head {
    padding: 20px 10px
}

.i-starrank .i-star-wrap .i-head h3 {
    font-weight: 400;
    font-size: 18px;
    padding: 0 20px
}

.i-starrank .i-star-wrap .i-img-wrap {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block
}

.i-starrank .i-star-wrap .i-img-wrap img {
    width: 100%
}

.i-starrank .i-star-wrap .desc {
    background-color: #fff;
    color: #919191;
    line-height: 60px;
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px
}

.i-subject {
    background-color: #fff;
    position: relative;
    z-index: 1
}

.i-subject .row a {
    display: block;
    text-decoration: none;
    transition: all .3s ease
}

.i-subject .row a:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5)
}

.i-subject .row a:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.i-subject .i-subject-wrap {
    border: 1px solid #e4ecf3;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 10px
}

.i-subject .i-subject-wrap .i-desc {
    margin: 10px;
    color: #313131!important;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.i-subject .i-subject-head {
    height: 120px;
    overflow: hidden
}

.i-subject .i-subject-head img {
    width: 100%;
    -webkit-transition: -webkit-transform 1s
}

@media (max-width:992px) {
    .carousel .item {
        height: 400px
    }
    .carousel .item .item-info {
        padding-top: 120px
    }
    .carousel .item .hire-name {
        width: 100%;
        right: 0;
        text-align: center
    }
    .carousel .item .hire-title {
        width: 100%;
        left: 0;
        text-align: center
    }
    .carousel .item.item-tfc .name {
        width: 840px;
        height: 70px
    }
    .carousel .item.item-tfc .tfc {
        width: 280px;
        height: 70px
    }
    .carousel .item.item-tfc .name-en {
        font-size: 24px
    }
}

@media (max-width:767px) {
    .i-subject-wrap {
        text-align: center
    }
    .carousel .carousel-indicators {
        margin-bottom: 10px
    }
    .carousel .carousel-indicators li {
        width: 30px
    }
    .carousel .item {
        height: 250px
    }
    .carousel .item.item-0 .item-info {
        padding-top: 85px
    }
    .carousel .item.item-0 .item-info .title-name {
        font-size: 35px
    }
    .carousel .item.item-0 .item-info .title-desc {
        font-size: 20px
    }
    .carousel .item.item-tfc .item-info {
        padding-top: 75px
    }
    .carousel .item.item-tfc .name {
        width: 360px;
        height: 30px
    }
    .carousel .item.item-tfc .tfc {
        width: 160px;
        height: 40px
    }
    .carousel .item.item-tfc .name-en {
        display: none
    }
    .carousel .item.item-tfc .address {
        font-size: 16px;
        padding-top: 0
    }
    .carousel .item .item-info {
        padding-top: 75px
    }
    .carousel .item .item-info .title-name {
        font-size: 50px;
        padding-bottom: 0
    }
    .carousel .item .item-info .title-desc {
        font-size: 25px
    }
    .carousel .item .hire-name {
        bottom: 40px;
        font-size: 30px;
        line-height: 40px
    }
    .carousel .item .hire-title {
        display: none
    }
}